h3 {
	text-align: center;
}

a:hover {
	text-decoration: none;
}

.menu{
	background-image: url("images/backgroundMenu.jpg");
	background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
}
.container{

	text-align: center
}
.funcion{
	margin-top: 2%;
}

.x{
	margin-top: 2%;
}

#root{
	font-size: 35px;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
}

.back {
	border-radius: 100%;
	background-color: red;
	padding: 1.8% 1%;
	margin: 4px 2px;
	display: table;
}
.lineal, .denominador, .raiz {
	border: 1px solid black;
	padding: 5%;
    border-radius: 50%;
	margin-top: 4%;
}

.denominador {
	padding: 6.0% 5%;
	margin-left: 6%;
}

.raiz {
	margin-left: 6%;
}