.container{
	margin-top: 18%;
	text-align: center
}
.funcion{
	margin-top: 20%;
}

.x{
	margin-top: 2%;
}

#root{
	font-size: 35px;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
}