/*GENERAL MENU*/

/*Lo siguiente es para que no aparezcan las flechas en los input numericos*/
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
}

h2 {
	text-align: center;
	color: white;
	font-family: 'Montserrat', sans-serif;
}

.btnFont{
	text-align: center;
	color: black;
	font-family: 'Montserrat', sans-serif;
}

a:hover {
	text-decoration: none;
}

.menu{
	background-image: url("images/backgroundMenu.jpg");
    background-attachment: fixed;
	background-position: center; 
	background-size: 100%;
}

.index{
	background-color: black;
}

.container {
	text-align: center;
    margin-top: 12%;
	padding: 2%;
	width: 600px;
}



.lineal, .denominador, .raiz {
	border: 1px solid black;
	padding: 5%;
    border-radius: 50%;
	margin-top: 4%;
	background-color: cornsilk;
}

/*SEGUNDA FUNCION - CON DENOMINADOR*/

.containerDenominador {
		text-align: center;
		margin-top: 12%;
		padding: 2%;
}

.funcionDenominador{
	margin-top: 2%;
}

.denominador {
	padding: 8% 3%;
	margin-left: 6%;
}

.x{
	margin-top: 2%;
}

#root{
	font-size: 35px;
}



 /* TERCERA FUNCION - RAIZ*/

.raiz {
	margin-left: 6%;
}